<div class="arts-sidebar">
	<div class="arts-side-module">
	      <h4>Side Bar Module</h4>
	      <ul class="arts-side-list">
	        <li>Post 1</li>
	        <li>Post 2</li>
	        <li>Post 3</li>
	      </ul>
	</div>
</div>
