// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals";
/*===================Article Index==============*/
.arts-header {
  background-color: #e6e7e8;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;

  h1 {
    text-transform: uppercase;
  }

  h2 {
    font-family: $font-gotham-light;
    font-size: 24px;
  }
}

.arts-latest-container {
  display: none;
  @media only screen and (min-width: 990px){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    position: relative;
    height: 500px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    .arts-latest-left, .arts-latest-right {
      width: 50%;
      position: relative;

    }

    .arts-latest-left {
      margin-right: 10px;
    }

    .arts-latest-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      .arts-latest-small {
        width: 50%;
        position: relative;
        &:nth-child(2n+1){
          padding-right: 5px;
        }

        &:nth-child(2n+0){
          padding-left: 5px; 
        }
      }
      .arts-top-right {
        margin-bottom: 10px;
      }
    }
  }
}

.arts-latest-container-mb{
  display: block;
  padding: 0 20px;

  @media only screen and (min-width: 990px){
    display: none;
  }
}

.arts-latest-item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;

  .arts-latest-desc {
    position: absolute;
    bottom: 0;
    width: 80%;
    background-color: rgba(0,0,0,0.6);
    a{
      display: block;
      p {
        margin: 0;
        padding: 30px 5px;
        color: #fff;
      }
    }
  }
  
}
.arts-main-container {
  max-width: 1920px;
  /*max-width: 1920px;*/
  margin: 0 auto;
  padding: 0 20px;
  /*display: flex;*/
  .arts-sidebar {
    max-width: 200px;
  }
  .arts-list-container {
      max-width: 1920px;
      /*margin-left: 10px;
      padding-left: 20px;*/
  }
}

.arts-item {
  padding-bottom: 30px;
  .arts-item-img {
    display: block;
    transition: transform 0.3s ease-in-out;
    img {
      width: 100%;
    }
    &:hover, &:focus {
      transform: scale(1.04);
    }
  }
  .arts-item-content {
    padding: 20px 30px;
    margin-top: 10px;

    a {
      display: block;

    }
  }
  &:nth-child(2n+1){
    .arts-item-content{
      background-color: #787c7a;
      a {
        color: #fff;
      }
    }  
  }
  &:nth-child(2n+0){
    .arts-item-content{
      background-color: #f3f4f1;
    }  
  }
}

.arts-item-desktop {
  position: absolute !important;
  width: 33% !important;
}

.arts-list-container {
  position: relative;  
}

/*====================End Articles Index ================*/

/*====================Articles Listing ===================*/
.art-banner {
	background-color: rgba(8,8,16,0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 480px){
    	height: 200px;
    }

    @media only screen and (min-width: 768px){
    	height: 250px;
    }

    @media only screen and (min-width: 990px){
    	height: 25vw;
    }
}

.art-title {
	color: #fff;
	font-size: 28px;
	text-align: center;
	padding: 20px;
}

.art-body-content {
  background-color: #fff;
  position: relative;
  border-top: 5px solid #d7d7d7;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px){
    width: 95%;
    padding: 50px 20px;
    margin: -50px auto 0;
  }

}

.art-body-content.element-fixed .art-left-content {
  position: fixed;
  top: 0;
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transition: transform 0.3s ease-in-out 0.05s;
  -o-transition: transform 0.3s ease-in-out 0.05s;
  transition: transform 0.3s ease-in-out 0.05s;
}

.art-body-content.element-abs-bottom .art-left-content {
  position: absolute;
  bottom: 50px;
  top: auto;
}

.art-left-content {
  width: 130px;
  position: absolute;
  top: auto;
  margin-right: 20px;
  float: left;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.art-right-content {
  @media only screen and (min-width: 768px){
    margin-left: 170px;
  }
}

.share-block {
	width: 130px;
	border: 1px solid #e6e7e8;
	margin: 0 auto;
}

.count-total {
	width: 100%;
	background-color: #000;
	padding: 25px;
	text-align: center;
}

.count-number {
	color: #fff;
  font-size: 30px;
  display: inline-block;
  @media only screen and (min-width: 768px){
    display: block;
  }
}

.count-share {
	color: #ccc;
	font-size: 14px;
}

.share-social {
	display: flex;

	.twitter-share {
		&:hover, &:focus {
			background-color: #00aced;
		}
	}

	.facebook-share {
    border-right: 1px solid #e6e7e8;
		&:hover, &:focus {
			background-color: #3b5998;
			
		}
	}

	.share-square {
		position: relative;
		width: 50%;
		height: 65px;
		line-height: 67px;
		text-align: center;
		-webkit-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;

        &:hover, &:focus {
        	.icon-social {
				transform: translateY(-45px);
			}

			.share-count {
				bottom: 0;
			}
        }

		span {
			-webkit-transition: opacity 0.3s ease-in-out,visibility 0.3s ease-in-out,transform 0.3s ease-in-out,bottom 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out,visibility 0.3s ease-in-out,transform 0.3s ease-in-out,bottom 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out,visibility 0.3s ease-in-out,transform 0.3s ease-in-out,bottom 0.3s ease-in-out;
		}
	}
}

.share-popin {
	overflow: hidden;
    display: inline-block;
    vertical-align: 0;
    width: 100%;
    height: 100%;
}

.share-count {
	position: absolute;
    width: 100%;
    height: 100%;
    line-height: 64px;
    text-align: center;
    left: 0;
    bottom: -100%;
    font-size: 20px;
    font-family: $font-gotham-book;
    color: #fff;
}

.share-block-mb {
  margin: 15px 0;

  .count-number {
    background-color: #000;
    padding: 5px 20px;
  }

  .fa {
    padding: 5px 20px;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-twitter {
    color: #00aced;
  }
}


/*===================End Articles Listing ================*/


/*============Article Content Style==========*/
.art-tags{
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.art-pj-info {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.art-pj-content {
  display: flex;

  .art-pj-content-left, .art-pj-content-right {
    width: 50%;
    text-align: center;

    h3 {
      margin: 15px 0;
    }
  }
  .art-pj-content-left{
    color: #f8fff1;
    background-color: #857e7c;
  }

  .art-pj-content-right{
    background-color: #f8fff0;
    color: #847e7b;
  }
}

/*============End Article Content Style==========*/