@import "globals";
/*================ Hero Slider ==================*/
/*================ Hero Slider ================*/
$color-slideshow-arrows: #000;
$color-slideshow-dots: #fff;

/*================ VENDOR ================*/
/*============================================================================
  Slick Slider 1.6.0

  - If upgrading Slick's styles, use the following variables/functions
    instead of the slick defaults (from slick-theme.scss)
  - This file includes default slick.scss styles (at Slick Slider SCSS)
    and slick-theme.scss (at Slick Slider Theme). Upgrade each area individually.
  - Remove `outline: none` from `.slick-dots li button`
==============================================================================*/
$slick-font-family: "slick-icons, sans-serif";
$slick-arrow-color: $color-slideshow-arrows;
$slick-dot-color: $color-slideshow-dots;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190';
$slick-next-character: '\2192';
$slick-dot-character: '\2022';
$slick-dot-size: 6px;
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

// Only called once so make sure proper file is grabbed
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

// Unused intentionally
@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/*================ Slick Slider SCSS ================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

/*================ Slick Slider Theme ================*/
.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}



/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 100%;
    background-color: #fff;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        text-indent: -9999px;
        background-color: currentColor;
        border-radius: 100%;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 12px;
        height: 12px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: white;
        border: 2px solid white;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: black;
      opacity: $slick-opacity-default;
    }
  }
}

.results-block {
	display: inline-block;
}

.no-padding {
	padding: 0 !important;
}

.left-padding {
  @media only screen and (min-width: 992px){
	 padding-left: 15px !important;
  }
}

.user-name {
	padding-top: 15px;
}

/*================Navigation Bar=============*/

.nav.navbar-right li {
  .btn {
    color: #414042 !important;
    margin-top: 5%;
  }

  .btn-success:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.navbar-right-cust {
  margin: 0;  
}

.nav {
  .navbar-right-link {
    a {
      color: #fff;
      &:hover, &:focus {
        background-color: initial;
        color: #ccc;
      }
    }
  }
}

.navbar-menu-link {
  color: #fff !important;

}

.nav-active {
  border-bottom: 2px solid #fff;
}

.account-links {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top: 52px;
  color: #414042;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
  border-top: 5px solid #fff;

  ul {
    list-style: none;
    padding: 20px;
    text-align: left;

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  @media only screen and (min-width: 768px){
    right: -22px;
  }

  @media only screen and (min-width: 1024px){
    right: unset;
  }
}

.user-name:hover{
  @media only screen and (min-width: 768px){
    .account-links{
      display: block;
    }
  }
}


/*=================End Navigation Bar=========*/

.section-footer {
	background-color: #414042;
	color: #fff;
	border-radius: 2px;

	p {
		margin: 10px;
		text-align: center;
	}
}

.alert-container {
  margin: 0 auto;
  max-width: 1024px;
  .alert {
    margin-bottom: 5px;
  }
}

/*==================Styling New Site=================*/

/*==================Drawer Module====================*/

.drawer-right {
  position: fixed;
  width: 300px;
  right: -300px;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid #ccc;
  background-color: #f6f6f6;
}

.drawer-header {
  color: #414042;
  height: 50px;
  border-bottom: 1px solid #ccc;

  h4 {
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
  }

  .drawer-close{
    position: absolute;
    top: 0;
    right: 0;

    &:before {
      content: "\2715";
      font-size: 18px;
    }
  }
}

.js-drawer-right {
  .is-moved-by-drawer {
    transform: translateX(-300px);
  }

  .drawer-right {
    transform: translateX(-300px);
  }
}

.form-group-cust {
  padding: 10px 15px;
}

.form-control-cust {
  margin: 0;
}

.checkbox-cust input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.btn-black {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 0;
  background-color: #000;
  border: 0;
  font-size: 16px;
  font-family: $font-gotham-book;
}

.btn-devise {
  display: block;
  font-family: $font-gotham-book;
  text-align: center;
  margin-bottom: 10px;
}

.btn-small {
  width: auto;
}

.btn-grey {
  color: #fff;
  background-color: #707171;
  font-size: 16px;
  font-family: 'Gotham-Book', sans-serif;
}

/*==================End Drawer Module================*/

/*==================Modal Module================*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6);
  padding-top: 50px;
}

.modal-container {
  width: 60%;
  position: fixed;

  @media only screen and (max-width: 991px){
    width: 90%;
  }
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 0;

  @media only screen and (max-width: 991px){
    height: 400px;
    overflow-y: scroll;
  }
  
}

.modal-close {
  text-align: right;

  &:before {
    content: "\2715";
    font-size: 32px;
    color: #f1f1f1;
  }

  &:hover, &:focus {
    color: #f44336;
    cursor: pointer;
  }
}

.modal-opened {
  display: flex;
  justify-content: center;
}

.modal-header {
  background-color: #f1f1f1;
  h4 {
    font-size: 28px;
    text-align: center;
  }
}



/*==================End Modal Module==================*/


/*==================Menu Navigation==================*/
.navbar-mobile {
  position: absolute;
  top: 50px;
  background-color: #414042;
  width: 100%;
  padding: 0;

  ul {
    padding-right: 0;
    margin:0;
    li {
      padding: 0;
      .navbar-menu-link {
        color: #fff !important;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
        line-height: 1.5;
      }

      .nav-btn-logout {
        margin-top: 0 !important;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0;
        background-color: #ccc;
        border-color: #ccc;
        text-align: center;
        color: #000;
      }
    }

    .user-name {
      text-align: center;
      padding: 10px 15px;
    }
  }
}

.user-name {
      color: #fff;
      height: 52px;
}

.navbar-right-cust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  li {
    .white-text {
      color: #fff;
      &:hover, &:focus {
        background-color: unset; 
      }
    }
  }

  @media only screen and (min-width: 768px){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

}
.nav {
  li{
    .nav-btn-logout {
      padding-top: 15px;
    }
  }
}



/*==================End Menu Navigation==============*/

.main-wrapper {
  position: relative;
  width: 100%;
  margin-top: 55px;
}

/*==================Home Slider======================*/
#homeslider {
  max-width: 1610px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  .slick-dots {
    top: 220px;
    bottom: auto;
  }

  @media only screen and (min-width: 768px){
    margin-bottom: 30px;

    .slick-dots {
      position: relative;
      bottom: 30px;
      top: auto;
    }
  }

  @media only screen and (min-width: 1440px){
    padding: 0 50px;
  }
}

.home-slideshow {
  position: relative;
  font-family: $font-gotham-book;

  .slideshow-image {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
  }

  .slideshow-text { 
    text-align: center;
    margin: 30px 0;

    h1 {
      font-size: 26px;
    }
    a {
      display: block;

      .nav-arrow.d-right::before{
        width: 9px;
        height: 9px;
        margin-left: 10px;
      }
    }
  }

  @media only screen and (min-width: 768px){
    .slideshow-image {
      height: 42vw;
    }

    .slideshow-text-right {
      position: absolute;
      right: 100px;
      top: 20%;
    }

    .slideshow-text-left {
      position: absolute;
      left: 100px;
      top: 20%;
    }

    .slideshow-text-dark{
      color: #414042;

      hr {
        border-bottom: 1px solid #414042;
      }

      a {
        color: #414042;
      }
    }

    .slideshow-text-white{
      color: #fff;

      hr {
        border-bottom: 1px solid #fff;
      }

      a {
        color: #fff;
      }
    }
  }
}

/*==================End Home Slider==================*/

/*==================Home Info======================*/
#homeinfo {
  max-width: 1280px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #000;
  position: relative;
  color: #fff;
  text-align: center;

  h2{
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    max-width: 800px;
    margin: 15px auto;
  }
  a {
    background-color: #fff;
    border: 1px solid #414042;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-gotham-book;

    &:hover, &:focus {
      background-color: #ccc;
    }
  }
  @media only screen and (min-width: 768px){
    padding: 50px;
    margin-bottom: 10px;
  }
}

/*==================End Home Info==================*/

/*==================Home Category======================*/
#homecategory{
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;

  .title-box {
    background-color: #414042;
    color: #fff;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;

    h2 {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  @media only screen and (min-width: 768px){
    margin-bottom: 30px;
    padding: 20px;
  }
}

.cat-two-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  .cat-panel-container {
    padding-bottom: 15px;

    .cat-panel-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 250px;
    }
  }

  .panel-small {
    width: 100%;
  }

  .panel-large {
    width: 100%;
  }

  @media only screen and (min-width: 768px){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    .cat-panel-container{
      .cat-panel-image {
        height: 300px;
      }
    }
    .cat-panel-container:nth-child(2n+1) {
      padding-right: 7.5px;
    }

    .cat-panel-container:nth-child(2n+0){
      padding-left: 7.5px;
    }
    .panel-small {
      width: 40%;
    }

    .panel-large {
      width: 60%;
    }
  }

}

.link-overlay {
  display: block;
  opacity: 1;
  height: 50%;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  background-color: rgba(65,64,66,0.6);
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;

  @media only screen and (min-width: 768px){
    height: 100%;
    width: 100%;
    opacity: 0;
    &:hover, &:focus {
      opacity: 1;
      color: #fff;
    }
  }
}

/*==================End Home Info==================*/

/*==================Home Blog======================*/
#homeblog {
  max-width: 1610px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;


  @media only screen and (min-width: 768px){
    margin-bottom: 50px;
    padding: 0 20px;
  }
}

.homeblog-title-box {
  hr {
    margin: 15px 0;
    border-bottom: 2px solid #414042;
    width: 250px;
  }
}

.blog-slideshow-link {
  display: block;

  img {
    width: 100%;
    height: 300px;
  }

  .blog-slideshow-title {
    padding: 20px;
    background-color: rgba(230, 231, 232, 0.8 );
    border-bottom: 10px solid #515254;
    position: relative;
    margin: -50px 20px 0;
    height: 100px;
  }
  @media only screen and (min-width: 480px){
    padding: 0 20px;
  }


}

/*==================End Home Blog==================*/

/*==================Home Gallery======================*/
#homegallery {
  width: 100%;
  background-color: #414042;
  text-align: center;
  margin-bottom: 30px;

  h2 {
    color: #fff;
    padding-top: 30px;
    text-transform: uppercase;
  }

  @media only screen and (min-width: 768px){
    h2 {
      padding-top: 50px;
    }
  }
}

#homegallery-slider {
  padding-bottom: 30px;
  text-align: center;
  max-width: 1610px;
  margin: 0 auto;

  .slick-prev, .slick-next {
    width: 30px;
    height: 80px;
    background-color: rgba(255,255,255,0.9);
    top: 50%;
  }

  .slick-dots{
    position: relative;
  }


  .nav-arrow{
    top: 50%;

    &:before {
      width: 16px;
      height: 16px;
    }
  }

  .nav-arrow.d-left::before {
    transform: translate(-30%, -50%) rotate(-45deg);
  }
  .nav-arrow.d-right::before {
    transform: translate(-70%, -50%) rotate(135deg);
  }

  @media only screen and (min-width: 768px){
    padding: 0 80px 30px;
  }
}

.gallery-slideshow-link {
  h3 {
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  img {
    width: 100%;
  }

  @media only screen and (min-width: 768px){
    h3 {
      margin-top: 30px;
    }
  }
}


/*==================End Home Gallery==================*/

.footer-main-container{
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  @media only screen and (min-width: 768px){
    flex-direction: row;
  }
}

.footer-about {
  width: 100%;
  text-align: center;

  img {
    width: 150px;
    border-radius: 100%;
  }

  @media only screen and (min-width: 768px){
    width: 30%;
  }
}

.footer-links-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  .footer-links {
    ul {
      padding: 0 15px;
      text-align: center;
      li {
        list-style: none;
        padding: 8px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px){
    width: 40%;
    align-self: flex-end;
  }

  @media only screen and (min-width: 990px){
    .footer-links {
      ul{
        padding: 0 30px;
      }
    }
  }
}

.footer-social {
  width: 100%;
  text-align: center;
  ul {
    padding: 0;
    margin: 15px 0;
    li {
      list-style: none;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media only screen and (min-width: 768px){
    width: 30%;
    text-align: left;
    align-self: flex-end;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 768px){
    justify-content: flex-start;
  }
}

.btn-social-icon {
  color: #fff;
  border-radius: 100%;
  border: 1px solid #fff;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  &:hover, &:focus {
    color: #fff;
    transform: scale(1.5);
  }
}

.footer-bottom {
  p {
    margin: 0;
    border-top: 1px solid #fff;
    padding: 10px;
  }
}

/*===============Devise Bootstrap==============*/
.devise-bs {
  max-width: 1024px;
  margin: 30px auto;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 0;
}

.devise-heading {
  background-color: #f1f1f1;
  h4 {
    font-size: 28px;
    text-align: center;
  }
}

/*=================Page Width================*/
.page-container{
  max-width: 1024px;
  padding: 0px 20px;
  margin: 80px auto 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.page-body-header {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-color: #ddd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;

  h3 {
    font-size: 28px;
  }
}

/*===============Page-Small==============*/
.page-small {
  max-width: 1024px;
  margin: 0 auto 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-full {
  max-width: 100%;
  padding: 50px;
}

.panel-heading {
  h4 {
    font-size: 28px;
    text-align: center;
  }
}

.action-field {
  text-align: center;
}

.field-box-cust {
  width: 100%;
  padding: 15px;
  margin-left: 0;
}

/*================Index Table Info============*/
.table-info {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding: 15px 20px;
    text-align: left;
    background-color: #414042;
    color: #fff;
  }
}

/*================Dropdown Menu Account=============*/


/*==================================================*/

/*================Input Form Cust==================*/
.field-label-cust {
  padding: 10px;
  margin: 5px 0;
  text-align: right;
}

.text-field-cust {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

/*=================================================*/

/*====================Category=================*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.flex-card-quarter {
  width: 100%;
  padding: 15px 0;

  @media only screen and (min-width: 768px){
    width: 50%;
    padding: 15px;
  }

  @media only screen and (min-width: 1024px){
    width: 25%;
  }
}

.list-no-style {
  padding: 0;

  li {
    list-style: none;
  }
}

.panel-item {
  background-color: #f1f1f1;
  padding: 15px;
  color: #414042;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;

  h5 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}
/*=============================================*/
.about-avatar-sml{
  width: 48px;
  border-radius: 100%;
  display: inline-block !important;
}

.underline-link {
  color: #fff;
  text-decoration: underline;

  &:hover, &:focus {
    font-weight: 700;
    text-decoration: underline;

  }
}

