/*=======================Typography==============*/
@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.eot');
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Light.woff2') format('woff2'),
        url('Gotham-Light.woff') format('woff'),
        url('Gotham-Light.ttf') format('truetype'),
        url('Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype'),
        url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
    url('Georgia.woff2') format('woff2'),
    url('Georgia.woff') format('woff'),
    url('Georgia.ttf') format('truetype'),
    url('Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Italic';
  src: url('Georgia-Italic.eot');
  src: url('Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('Georgia-Italic.woff2') format('woff2'),
    url('Georgia-Italic.woff') format('woff'),
    url('Georgia-Italic.ttf') format('truetype'),
    url('Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}



@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.eot');
    src: url('Baskerville.eot?#iefix') format('embedded-opentype'),
        url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff'),
        url('Baskerville.ttf') format('truetype'),
        url('Baskerville.svg#Baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('Avenir-Book.eot');
  src: url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('Avenir-Book.woff2') format('woff2'),
    url('Avenir-Book.woff') format('woff'),
    url('Avenir-Book.ttf') format('truetype'),
    url('Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('Avenir-Roman.eot');
  src: url('Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    url('Avenir-Roman.woff2') format('woff2'),
    url('Avenir-Roman.woff') format('woff'),
    url('Avenir-Roman.ttf') format('truetype'),
    url('Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('Avenir-Medium.eot');
  src: url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('Avenir-Medium.woff2') format('woff2'),
    url('Avenir-Medium.woff') format('woff'),
    url('Avenir-Medium.ttf') format('truetype'),
    url('Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('Avenir-Black.eot');
  src: url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('Avenir-Black.woff2') format('woff2'),
    url('Avenir-Black.woff') format('woff'),
    url('Avenir-Black.ttf') format('truetype'),
    url('Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

$font-gotham-book: 'Gotham-Book', sans-serif;
$font-gotham-light: 'Gotham-Light', sans-serif;
$font-gotham-medium: 'Gotham-Medium', sans-serif;
$font-georgia: 'Georgia', sans-serif;
$font-georgia-italic: 'Georgia-Italic', sans-serif;
$font-baskerville: 'Baskerville', serif;
$font-avenir-book: 'Avenir-Book', sans-serif;
$font-avenir-roman: 'Avenir-Roman', sans-serif;
$font-avenir-medium: 'Avenir-Medium', sans-serif;
$font-avenir-black: 'Avenir-Black', sans-serif;

/*================================================*/

/*=======================Global Style============*/


h1,h2,h3,h4,h5,h6 {
  font-family: $font-georgia;
  margin:0;
  font-weight: 400;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #414042;
  width: 100px;
}

.nav-arrow{
  position: relative;
}
.nav-arrow::before {
  border-style: solid;
  border-width: 1.5px 0 0 1.5px;
  content: '';
  display: inline-block;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  @media only screen and (min-width: 1024px){
    height: 11px;
    width: 11px;  
  }
  
}

.nav-arrow.d-left::before {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.nav-arrow.d-right::before {
  transform: translate(-50%,-50%) rotate(135deg);
}

.nav-arrow.d-up::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.nav-arrow.d-down::before {
  transform: translate(-50%,-50%) rotate(-135deg);
}

.slick-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  left: 20px;
  z-index: 2;
}
.slick-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  right: 20px;
  z-index: 2;
}

.slick-prev,
  .slick-next {
    top: 0;
    height: 100%;
    margin-top: 0;
    width: 40px;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }






/*=================End Global Style===============*/

/*================ Hero Slider ==================*/
/*================ Hero Slider ================*/
$color-slideshow-arrows: #000;
$color-slideshow-dots: #fff;

/*================ VENDOR ================*/
/*============================================================================
  Slick Slider 1.6.0

  - If upgrading Slick's styles, use the following variables/functions
    instead of the slick defaults (from slick-theme.scss)
  - This file includes default slick.scss styles (at Slick Slider SCSS)
    and slick-theme.scss (at Slick Slider Theme). Upgrade each area individually.
  - Remove `outline: none` from `.slick-dots li button`
==============================================================================*/
$slick-font-family: "slick-icons, sans-serif";
$slick-arrow-color: $color-slideshow-arrows;
$slick-dot-color: $color-slideshow-dots;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '\2190';
$slick-next-character: '\2192';
$slick-dot-character: '\2022';
$slick-dot-size: 6px;
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

// Only called once so make sure proper file is grabbed
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

// Unused intentionally
@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/*================ Slick Slider SCSS ================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

/*================ Slick Slider Theme ================*/
.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}



/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: relative;
  bottom: 30px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 100%;
    background-color: #fff;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        text-indent: -9999px;
        background-color: currentColor;
        border-radius: 100%;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 12px;
        height: 12px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: white;
        border: 2px solid white;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: black;
      opacity: $slick-opacity-default;
    }
  }
}

.results-block {
	display: inline-block;
}

.no-padding {
	padding: 0 !important;
}

.left-padding {
	padding-left: 15px !important;
}

.user-name {
	padding-top: 15px;
}

.nav.navbar-right li {
	.btn {
		color: #fff !important;
		margin-top: 5%;
	}

	.btn-success:hover {
		background-color: darken(#d9534f, 20%) !important;
	}
}

.navbar-right-cust {
	margin: 0;	
}

.section-footer {
	background-color: #414042;
	color: #fff;
	border-radius: 2px;

	p {
		margin: 10px;
		text-align: center;
	}
}

/*==================Styling New Site=================*/

/*==================Menu Navigation==================*/
.navbar-right-cust {
  li {
    a {
      color: #fff;
      &:hover, &:focus {
        background-color: unset; 
      }
    }


  }
}

/*==================End Menu Navigation==============*/

/*==================Home Slider======================*/
#homeslider {
  max-width: 1610px;
  margin-top: 55px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.home-slideshow {
  position: relative;
  font-family: $font-gotham-book;

  .slideshow-image {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 38vw;
    width: 100%;
  }

  .slideshow-text { 
    text-align: center;
    h1 {
      font-size: 26px;
    }
    a {
      display: block;
    }
  }

  .slideshow-text-right {
    position: absolute;
    right: 100px;
    top: 20%;
  }

  .slideshow-text-color{
    color: #fff;
  }
}

/*==================End Home Slider==================*/

/*==================Home Info======================*/
#homeinfo {
  max-width: 1280px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #000;
  position: relative;
  color: #fff;
  text-align: center;

  h2{
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    max-width: 800px;
    margin: 15px auto;
  }
  a {
    background-color: #fff;
    border: 1px solid #414042;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-gotham-book;

    &:hover, &:focus {
      background-color: #ccc;
    }
  }


}

/*==================End Home Info==================*/

/*==================Home Category======================*/
#homecategory{
  max-width: 1320px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;

  .title-box {
    background-color: #414042;
    color: #fff;
    margin-bottom: 5px;
    padding: 15px;
    text-align: center;

    h2 {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

.cat-two-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  .cat-panel-container {
    padding-bottom: 15px;

    .cat-panel-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
    }

    .link-overlay {
      display: block;
      opacity: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      background-color: rgba(65,64,66,0.6);
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }
  .cat-panel-container:nth-child(2n+1) {
    padding-right: 7.5px;
  }

  .cat-panel-container:nth-child(2n+0){
    padding-left: 7.5px;
  }

  .panel-small {
    width: 40%;
  }

  .panel-large {
    width: 60%;
  }

}

/*==================End Home Info==================*/

/*==================Home Blog======================*/
#homeblog {
  max-width: 1610px;
  margin-bottom: 30px;
  padding: 0 20px;
  position: relative;
}

.homeblog-title-box {
  hr {
    margin: 15px 0;
    border-bottom: 2px solid #414042;
    width: 250px;
  }
}

.blog-slideshow-link {
  display: block;
  padding: 0 20px;

  img {
    width: 100%;
  }

  .blog-slideshow-title {
    padding: 20px;
    background-color: rgba(230, 231, 232, 0.8 );
    border-bottom: 10px solid #515254;
    position: relative;
    margin: -50px 20px 0;
    height: 200px;
  }
}

/*==================End Home Blog==================*/

/*==================Home Blog======================*/
#homegallery {
  width: 100%;
  background-color: #414042;
  text-align: center;
  margin-bottom: 30px;

  h2 {
    color: #fff;
    padding-top: 50px;
    text-transform: uppercase;
  }
}

#homegallery-slider {
  padding: 0 80px 30px;
  text-align: center;
  max-width: 1610px;
  margin: 0 auto;

  .slick-prev, .slick-next {
    width: 30px;
    height: 80px;
    background-color: rgba(255,255,255,0.9);
    top: 50%;
  }


  .nav-arrow{
    top: 50%;

    &:before {
      width: 16px;
      height: 16px;
    }
  }

  .nav-arrow.d-left::before {
    transform: translate(-30%, -50%) rotate(-45deg);
  }
  .nav-arrow.d-right::before {
    transform: translate(-70%, -50%) rotate(135deg);
  }
}

.gallery-slideshow-link {
  h3 {
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  img {
    width: 100%;
  }
}


/*==================End Home Info==================*/

.footer-main-container{
  display: flex;
  flex-direction: row;
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.footer-about {
  width: 30%;
  text-align: center;

  img {
    width: 150px;
    border-radius: 100%;
  }
}

.footer-links {
  width: 20%;
  align-self: flex-end;
  ul {
    li {
      list-style: none;
      padding: 8px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

}

.footer-social {
  width: 30%;
  align-self: flex-end;
  ul {
    padding: 0;
    margin: 15px 0;
    li {
      list-style: none;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.social-links {
  display: flex;
}

.btn-social-icon {
  color: #fff;
  border-radius: 100%;
  border: 1px solid #fff;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  &:hover, &:focus {
    color: #fff;
    transform: scale(1.5);
  }
}

.footer-bottom {
  p {
    margin: 0;
    border-top: 1px solid #fff;
    padding: 10px;
  }
}
