/*=======================Typography==============*/
@font-face {
    font-family: 'Gotham-Light';
    src: font-url('Gotham-Light.eot');
    src: font-url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
        font-url('Gotham-Light.woff2') format('woff2'),
        font-url('Gotham-Light.woff') format('woff'),
        font-url('Gotham-Light.ttf') format('truetype'),
        font-url('Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Book';
    src: font-url('Gotham-Book.eot');
    src: font-url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        font-url('Gotham-Book.woff2') format('woff2'),
        font-url('Gotham-Book.woff') format('woff'),
        font-url('Gotham-Book.ttf') format('truetype'),
        font-url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: font-url('Gotham-Medium.eot');
    src: font-url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('Gotham-Medium.woff2') format('woff2'),
        font-url('Gotham-Medium.woff') format('woff'),
        font-url('Gotham-Medium.ttf') format('truetype'),
        font-url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: font-url('Georgia.eot');
  src: font-url('Georgia.eot?#iefix') format('embedded-opentype'),
    font-url('Georgia.woff2') format('woff2'),
    font-url('Georgia.woff') format('woff'),
    font-url('Georgia.ttf') format('truetype'),
    font-url('Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Italic';
  src: font-url('Georgia-Italic.eot');
  src: font-url('Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    font-url('Georgia-Italic.woff2') format('woff2'),
    font-url('Georgia-Italic.woff') format('woff'),
    font-url('Georgia-Italic.ttf') format('truetype'),
    font-url('Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}



@font-face {
    font-family: 'Baskerville';
    src: font-url('Baskerville.eot');
    src: font-url('Baskerville.eot?#iefix') format('embedded-opentype'),
        font-url('Baskerville.woff2') format('woff2'),
        font-url('Baskerville.woff') format('woff'),
        font-url('Baskerville.ttf') format('truetype'),
        font-url('Baskerville.svg#Baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: font-url('Avenir-Book.eot');
  src: font-url('Avenir-Book.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir-Book.woff2') format('woff2'),
    font-url('Avenir-Book.woff') format('woff'),
    font-url('Avenir-Book.ttf') format('truetype'),
    font-url('Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: font-url('Avenir-Roman.eot');
  src: font-url('Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir-Roman.woff2') format('woff2'),
    font-url('Avenir-Roman.woff') format('woff'),
    font-url('Avenir-Roman.ttf') format('truetype'),
    font-url('Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: font-url('Avenir-Medium.eot');
  src: font-url('Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir-Medium.woff2') format('woff2'),
    font-url('Avenir-Medium.woff') format('woff'),
    font-url('Avenir-Medium.ttf') format('truetype'),
    font-url('Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: font-url('Avenir-Black.eot');
  src: font-url('Avenir-Black.eot?#iefix') format('embedded-opentype'),
    font-url('Avenir-Black.woff2') format('woff2'),
    font-url('Avenir-Black.woff') format('woff'),
    font-url('Avenir-Black.ttf') format('truetype'),
    font-url('Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

$font-gotham-book: 'Gotham-Book', sans-serif;
$font-gotham-light: 'Gotham-Light', sans-serif;
$font-gotham-medium: 'Gotham-Medium', sans-serif;
$font-georgia: 'Georgia', sans-serif;
$font-georgia-italic: 'Georgia-Italic', sans-serif;
$font-baskerville: 'Baskerville', serif;
$font-avenir-book: 'Avenir-Book', sans-serif;
$font-avenir-roman: 'Avenir-Roman', sans-serif;
$font-avenir-medium: 'Avenir-Medium', sans-serif;
$font-avenir-black: 'Avenir-Black', sans-serif;

/*================================================*/

/*=======================Global Style============*/


h1,h2,h3,h4,h5,h6 {
  font-family: $font-georgia;
  margin:0;
  font-weight: 400;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;

}

hr {
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #414042;
  width: 100px;
}

.nav-arrow{
  position: relative;
}
.nav-arrow::before {
  border-style: solid;
  border-width: 1.5px 0 0 1.5px;
  content: '';
  display: inline-block;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  @media only screen and (min-width: 1024px){
    height: 11px;
    width: 11px;  
  }
  
}

.nav-arrow.d-left::before {
  transform: translate(-50%,-50%) rotate(-45deg);
}

.nav-arrow.d-right::before {
  transform: translate(-50%,-50%) rotate(135deg);
}

.nav-arrow.d-up::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.nav-arrow.d-down::before {
  transform: translate(-50%,-50%) rotate(-135deg);
}

.slick-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  left: 20px;
  z-index: 2;
}
.slick-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  right: 20px;
  z-index: 2;
}

.slick-prev,
  .slick-next {
    top: 0;
    height: 100%;
    margin-top: 0;
    width: 40px;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

.btn-modify {
  background-color: #ccc;
  border-radius: 0;
}

.btn-abs {
  position: absolute;
}

.skip-mobile {
  display: none;
  @media only screen and (min-width: 768px){
    display: block;
  }
}

.skip-desktop {
  display: block;
  @media only screen and (min-width: 768px){
    display: none;
  }
}

img {
  width: 100%;
}

/*=================End Global Style===============*/