@font-face {
  font-family: 'Georgia';
  src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
    url('Georgia.woff2') format('woff2'),
    url('Georgia.woff') format('woff'),
    url('Georgia.ttf') format('truetype'),
    url('Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-georgia: 'Georgia', sans-serif;
$font-gotham-book: 'Gotham-Book', sans-serif;

body {
  font-family: $font-georgia;
  line-height: 1.5;
  font-size: 16px;
  color: #414042;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

p, ol, td, input, textarea, select {
  font-family: $font-gotham-book;
  font-size: 12px;
  line-height: 1.5;
  margin: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #414042;
  text-decoration: none;
  background-color: transparent;

}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}