<div class="page-small panel-default">
	<div class="panel-heading">
		<h4>New Category</h4>
	</div>
	<div class="panel-body">
		<%= render 'form', category: @category %>

		<%= link_to 'Back', categories_path, :class => 'btn-devise' %>
	</div>
</div>