<div id="homecategory">
	<div class="title-box">
		<h2>Services</h2>
	</div>
	<div class="cat-two-panel">
		<div class="cat-panel-container panel-large">
			<div class="cat-panel-image" style="background-image: url(<%= image_path('Slider/Slider2.jpg') %>)">
				<a class="link-overlay">MacBook<br>Service</a>
			</div>
		</div>
		<div class="cat-panel-container panel-small">
			<div class="cat-panel-image" style="background-image: url(<%= image_path('Slider/Slider2.jpg') %>)">
				<a class="link-overlay">iPhone<br>Service</a>
			</div>
		</div>
		<div class="cat-panel-container panel-small">
			<div class="cat-panel-image" style="background-image: url(<%= image_path('Slider/Slider2.jpg') %>)">
				<a class="link-overlay">iPad<br>Service</a>
			</div>
		</div>
		<div class="cat-panel-container panel-large">
			<div class="cat-panel-image" style="background-image: url(<%= image_path('Slider/Slider2.jpg') %>)">
				<a class="link-overlay">Watch<br>Service</a>
			</div>
		</div>
	</div>
</div>